__pycache__/
UCR/*
export/*
data/update/uncombine/*
data/update/combine/*
/data/raw/*
/data/labeled/*
/wandb/*

*.pth
*.pkl
*.npy
/data/raw/*
/data/labeled/*
1-Cycle/
Sejong/
3.1-Cycle.zip
50-1_Sejong.zip
data/logs/220901.zip
models/*
